.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../img/intro/hero-02-desaturated.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  color: hsl(152, 68%, 99%);
}
/* .hero-foot ul {
  justify-content: center;
}
.hero-foot ul li a {
  color: hsl(0, 100%, 100%);
  font-size: 2rem;
}
.hero-foot ul li a:hover {
  color: hsl(0, 2%, 75%);
  transform: scale(0.9);
  transition: ease-in-out 0.2s;
} */
/* .navbar {
  background: rgba(0, 0, 0, 0.9) !important;
  background-color: hsl(170, 97%, 15%) !important;
}

.navbar a {
  color: #ffffff;
} */

/* .navbar a:hover {
  background: blue;
} */
/* .people {
  text-align: center;
} */
.bw {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 80%;
}

.has-background-info-light {
  background: hsl(152, 68%, 99%) !important;
}

.btn-primary {
  background-color: hsl(168, 80%, 23%);
  border: 0;
}
.btn-primary:hover {
  background-color: hsl(170, 97%, 15%);
  border: 0;
}
